{% extends "base.html.twig" %}

{% block title %} {{ parent() }}Contact{% endblock %}
       
{% block content %} 
<ul class="navbar_type">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-12 col-md-10">
    <h1 class="text-center" style="color:#131313;">Contact</h1> 


        <span class="text-primary"> Contactez-moi au : 06 06 06 06 06 <span/>

    
{% endblock %} 
