{% extends "base.html.twig" %}

{% block title %} {{ parent() }}Erreur 403{% endblock %}
       
{% block content %} 
    <h1 class="text-center" style="color:#131313;">Erreur 403</h1> 
    <img src="https://i.pinimg.com/736x/5d/4c/4a/5d4c4adfd91f3f707ed1e885207ec8ef.jpg">
{% endblock %} 