{% extends "base.html.twig" %}

{% block title %} {{ parent() }} Erreur 500 {% endblock %}
       
{% block content %} 
    <h1 class="text-center" style="color:#131313;">Erreur 500</h1> 
{% endblock %} 