{% extends "base.html.twig" %}
{% block title %} {{ parent() }}Log in{% endblock %}
{% block content %}
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-md-10">
				<h1 class="text-center text-primary">Log in</h1>
				<form method="post" action="">
					<div class="mb-3">
						<label for="userEmail" class="form-label text-primary">Email</label>
						<input type="email" class="form-control" id="userEmail" name="email" required>
					</div>
					<div class="mb-3">
						<label for="userPassword" class="form-label text-primary">Mot de Passe</label>
						<input type="password" class="form-control" id="userPassword" name="password" required>
					</div>
					<div class="text-center">
						<button type="submit" class="btn btn-primary">Se
							connecter</button>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
